body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1497px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:792px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.349019607843137);
  color:#33CC66;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:368px;
  width:937px;
  height:792px;
  color:#33CC66;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:933px;
  word-wrap:break-word;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:1276px;
  width:133px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1275px;
  width:39px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:1269px;
  width:35px;
  height:35px;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1272px;
  width:25px;
  height:30px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:59px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:1256px;
  width:103px;
  height:59px;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:200px;
  width:105px;
  height:95px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:207px;
  width:533px;
  height:82px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:430px;
  width:159px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:426px;
  width:22px;
  height:24px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:529px;
  width:799px;
  height:521px;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
  text-align:left;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:231px;
  word-wrap:break-word;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:0px;
  width:37px;
  height:50px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u1661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:0px;
  width:84px;
  height:50px;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:96px;
  height:50px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:50px;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:84px;
  word-wrap:break-word;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:50px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:259px;
  height:50px;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:255px;
  word-wrap:break-word;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:235px;
  height:35px;
  text-align:left;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:50px;
  width:37px;
  height:35px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:50px;
  width:84px;
  height:35px;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:35px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:50px;
  width:96px;
  height:35px;
  font-size:11px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:50px;
  width:88px;
  height:35px;
  font-size:11px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:35px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:50px;
  width:259px;
  height:35px;
  font-size:11px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:255px;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:158px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:235px;
  height:158px;
  text-align:left;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:231px;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:158px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:85px;
  width:37px;
  height:158px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:33px;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:158px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:85px;
  width:84px;
  height:158px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:80px;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:158px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:85px;
  width:96px;
  height:158px;
  font-size:11px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:92px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:158px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:85px;
  width:88px;
  height:158px;
  font-size:11px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:84px;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:158px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:85px;
  width:259px;
  height:158px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:255px;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:66px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:235px;
  height:66px;
  text-align:left;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:231px;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:66px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:243px;
  width:37px;
  height:66px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:33px;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:66px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:243px;
  width:84px;
  height:66px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:66px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:243px;
  width:96px;
  height:66px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:92px;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:243px;
  width:88px;
  height:66px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:84px;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:66px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:243px;
  width:259px;
  height:66px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:255px;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:309px;
  width:235px;
  height:35px;
  text-align:left;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:309px;
  width:37px;
  height:35px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:309px;
  width:84px;
  height:35px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:35px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:309px;
  width:96px;
  height:35px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:309px;
  width:88px;
  height:35px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:35px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:309px;
  width:259px;
  height:35px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:255px;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:344px;
  width:235px;
  height:35px;
  text-align:left;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:344px;
  width:37px;
  height:35px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:344px;
  width:84px;
  height:35px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:35px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:344px;
  width:96px;
  height:35px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:344px;
  width:88px;
  height:35px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:35px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:344px;
  width:259px;
  height:35px;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:255px;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:379px;
  width:235px;
  height:36px;
  text-align:left;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:379px;
  width:37px;
  height:36px;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:379px;
  width:84px;
  height:36px;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:379px;
  width:96px;
  height:36px;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:379px;
  width:88px;
  height:36px;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:36px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:379px;
  width:259px;
  height:36px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:415px;
  width:235px;
  height:36px;
  text-align:left;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:415px;
  width:37px;
  height:36px;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:415px;
  width:84px;
  height:36px;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:415px;
  width:96px;
  height:36px;
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:415px;
  width:88px;
  height:36px;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:36px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:415px;
  width:259px;
  height:36px;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:451px;
  width:235px;
  height:36px;
  text-align:left;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:451px;
  width:37px;
  height:36px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:451px;
  width:84px;
  height:36px;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:451px;
  width:96px;
  height:36px;
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:451px;
  width:88px;
  height:36px;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:36px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:451px;
  width:259px;
  height:36px;
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:34px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:487px;
  width:235px;
  height:34px;
  text-align:left;
}
#u1713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u1714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:487px;
  width:37px;
  height:34px;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:487px;
  width:84px;
  height:34px;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:487px;
  width:96px;
  height:34px;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:487px;
  width:88px;
  height:34px;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:34px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:487px;
  width:259px;
  height:34px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:495px;
  width:172px;
  height:16px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:475px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:391px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:530px;
  width:1px;
  height:390px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:86px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:1425px;
  top:521px;
  width:12px;
  height:86px;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:529px;
  width:799px;
  height:521px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:492px;
  width:85px;
  height:12px;
  font-size:11px;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1726 {
  position:absolute;
  left:1184px;
  top:487px;
  visibility:hidden;
}
#u1726_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:450px;
  height:290px;
  background-image:none;
}
#u1726_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:225px;
  height:225px;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:168px;
  width:187px;
  height:16px;
}
#u1729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:84px;
  width:187px;
  height:16px;
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:126px;
  width:187px;
  height:16px;
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:45px;
  width:187px;
  height:16px;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:112px;
  width:200px;
  height:1px;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:71px;
  width:200px;
  height:1px;
}
#u1734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:152px;
  width:200px;
  height:1px;
}
#u1735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:194px;
  width:200px;
  height:1px;
}
#u1736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:152px;
  width:225px;
  height:138px;
}
#u1737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:168px;
  width:187px;
  height:16px;
}
#u1738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:202px;
  width:187px;
  height:16px;
}
#u1739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:235px;
  width:187px;
  height:16px;
}
#u1740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:169px;
  width:24px;
  height:16px;
}
#u1741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:261px;
  width:187px;
  height:16px;
}
#u1742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:480px;
  width:225px;
  height:30px;
}
#u1743_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1743_input:disabled {
  color:grayText;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:480px;
  width:225px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:1080px;
  width:300px;
  height:31px;
}
#u1745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1075px;
  width:320px;
  height:40px;
  font-size:14px;
}
#u1746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:920px;
  width:20px;
  height:16px;
}
#u1747_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:778px;
  width:9px;
  height:9px;
}
#u1748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:877px;
  width:9px;
  height:9px;
}
#u1749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:843px;
  width:9px;
  height:9px;
}
#u1750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:913px;
  width:9px;
  height:9px;
}
#u1751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:950px;
  width:9px;
  height:9px;
}
#u1752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:985px;
  width:9px;
  height:9px;
}
#u1753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:1020px;
  width:9px;
  height:9px;
}
#u1754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:247px;
  width:108px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
